# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Build outputs
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Uploads
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MongoDB
data/
